header {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 180px;
  min-height: 80px; 
  top: 0;
  height: 10vh;
  background-color: white;
  box-shadow: 0px 6px 16px 0 rgba(116, 114, 114, 0.5);
}

#header-image {
  width: 12.5vw;
  max-width: 100%;
  max-height: 80%;
}

#desktop-header-text {
    display:none;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  margin-top: 8vh;
}

h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    letter-spacing: -0.51px;
    margin: 0;
    margin-top: 20px;
}


#effective-date {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 2.5em;
    margin: 10px;
    margin-bottom: 60px;

}

#effective-date span {

    font-weight: 400;
    margin-left: 10px;

}


h2 {
    margin: 0;
    margin-top: 16px; 
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.39px;
}

h3 {
    margin: 0;
    padding-top: 18px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.34px;
}



p {
    font-size: small;
    letter-spacing: -0.29px;
}

.text-fakebox {
    padding: 5vw;
    padding-top: 5vw;
}

@media screen and (min-width: 1000px){

    header {
        justify-content: left;
        min-height: 70px;
        box-shadow: 0px 2px 8px 0 rgba(116, 114, 114, 0.5);
    }

    #header-image {
        width: 42px;
        height: 42px;
        padding: 20px
      }

    #desktop-header-text {
        
        display: block;
        width: 407px;
        height: 41px;
        align-items: center;
        font-size: 18px;
        letter-spacing: -0.59px;
        font-weight: 300;
        padding-top: 15px;
    }


    #desktop-header-text span {
        letter-spacing: -0.31px;
        font-size: 22px;
        font-weight: 800;
    }
    
    .text-fakebox {
        margin-left: 25%;
        margin-right: 25%;
    } 


    h1 {
        font-size: 30px;
        margin-top: 32px;
    }

    #effective-date {
        font-size: 14px;
        margin-bottom: 25px;
        margin-top: 0;
        padding-top: 5px;
    }
}