header {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 180px;
  min-height: 80px; 
  top: 0;
  height: 10vh;
  background-color: white;
  box-shadow: 0px 6px 16px 0 rgba(116, 114, 114, 0.5);
}

#header-image {
  width: 12.5vw;
  max-width: 100%;
  max-height: 80%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  margin-top: 8vh;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    letter-spacing: -0.51px;
    margin: 0;
    margin-top: 20px;
}

h2 {
    margin: 0;
    margin-top: 16px; 
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.39px;
}

h3 {
    margin: 0;
    padding-top: 18px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.34px;
}

#effective-date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 42px;
    margin: 10px;
    margin-bottom: 60px;
}

#effective-date span {

    font-weight: 400;
    margin-left: 10px;

}

p {
    font-size: small;
    letter-spacing: -0.29px;
}

.text-fakebox {
    padding: 5vw;
}
